{% extends "base.html" %}

{% load thumbnail %}

{% block htmltitle %}{{ block.super }} | {{ project }}{% endblock %}

{% block htmlheader %}
{{ block.super }}
{% endblock %}

{% block content %}
	<div class="row">
  		<div class="column grid_3">
  			<div class="relative">
				<div id="bigmap"></div>
				<div id="maploading" class="hidden">LOADING PROJECTS</div>
				<a href="" for="pictures" class="active panelink">ALL PROJECTS</a>
				<a href="" for="videos" class="panelink">FUNDING NEEDED</a>
  			</div>
  		</div>
  		<div class="column grid_1">
			{% include "projects/small.html" %}  			
			{% include "projects/widgets/funding_needed.html" %}  			
  			
  		</div>
	</div>
	
	<script type="text/javascript" src="/static/assets/global/js/bluemap.js"></script>

	<script type="text/javascript">
		var map = new BlueMap('bigmap', {
				slug: '{{ project.slug}}', 
				latitude: '{{ project.latitude }}',
				longitude: '{{ project.longitude }}'
			});
	</script>

{% endblock %}
