{% extends "base.html" %}

{% block htmltitle %}{{ block.super }} | {{ project }}{% endblock %}

{% block htmlheader %}
{{ block.super }}
{% endblock %}

{% block content %}
<h1>ZOEKEN MAAR.....</h1>

	<script>
		$(document).ready(function(){
			BlueApp.loadViews([
				{
					container: '#midpanel',
					'widgets' : [ 
						{
							name: 'ProjectSearchForm',
							className: 'search-form'
						},
						{
							name: 'ProjectsSearchResults',
							className: 'search-results'
						}
						]
				}
			]);	
			
		});
		
	</script>
	
{% endblock %}
