{% extends "base.html" %}

{% block htmltitle %}{{ block.super }} | {{ project }}{% endblock %}

{% block htmlheader %}
{{ block.super }}
{% endblock %}

{% block content %}
<h1>ZOEKEN MAAR.....</h1>

	<script>
		$(document).ready(function(){
			BlueApp.views.load([
				{
					container: '#midpanel',
					wrapper: 'div',
					className: 'row',
					'widgets' : [ 
						{
							name: 'ProjectsSearchResults',
							wrapper: 'div',
							className: 'column grid_3 searchResults'
							//lifetime: 60,
						},
						{
							name: 'ProjectSearchForm',
							type: 'snippet',
							wrapper: 'div',
							className: 'column gray grid_1'
						}
						]
				}
			]);	
			
		});
		
	</script>
	
{% endblock %}
