<div class="progress widget">
	<h3 class="title light">Crowdfunding needed</h3>
	<div class="progressbar">
		{% if  project.money_donated_percentage > 40 %}
			<div class="amount-donated right" style="margin-right: {% widthratio project.money_needed project.money_asked 100 %}%">
				Now: <b>&euro;{{ project.money_donated }}</b>  						
			</div>
		{% else %}
			<div class="amount-donated left" style="margin-left: {% widthratio project.money_donated project.money_asked 100 %}%">
				Now: <b>&euro;{{ project.money_donated }}</b>					
			</div>
		{% endif %}
		<div class="asked">
			<div class="donated" style="width:{% widthratio project.money_donated project.money_asked 100 %}%"></div>
		</div>
		<div class="amount-asked">
			Needed: <b>&euro;{{ project.money_asked }}</b>
		</div>
	</div>
	<h3 class="link"><div class="icon love"></div>Support this Project</h3>
</div>
